{% extends "layout.html" %}
 
{% block title %}
Home
{% endblock %}

{% block main %}
<div class="card" id="fashion-card">
    <h5 class="card-header" style="color: white;">Featured</h5>
    <div class="card-body" id="fashion-card">
      <h5 class="card-title" style="color: white; font-family: 'Comfortaa', cursive; font-size:xx-large; color:rgb(219, 219, 219)">Give Your Life A New Style!</h5>
      <p class="card-text" style="color: white; font-family: 'Comfortaa', cursive; font-size:larger; color: rgb(219, 219, 219)">"Fashion is what you're offered four times a year by designers. And style is what you choose."
        —Lauren Hutton</p>
      <a href="#" class="btn btn-outline-light">Shop Fashion & Clothing</a>
    </div>
  </div>
{% endblock %}