{% extends "layout.html" %}
 
{% block title %}
Home
{% endblock %}

{% block main %}
<div class="card" id="fashion-card">
    <h5 class="card-header" style="color: white;">Featured</h5>
    <div class="card-body" id="fashion-card">
      <h5 class="card-title" style="color: white; font-family: 'Comfortaa', cursive; font-size:xx-large; color:rgb(219, 219, 219)">Give Your Life A New Style!</h5>
      <p class="card-text" style="color: white; font-family: 'Comfortaa', cursive; font-size:larger; color: rgb(219, 219, 219)">"Fashion is what you're offered four times a year by designers. And style is what you choose."
        —Lauren Hutton</p>
      <a href="/Clothing&Fashion" class="btn btn-outline-light">Shop Fashion & Clothing</a>
    </div>
</div>
    <!--
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel" style="margin-top: 30px ;">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <img src="static/watch.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-md-block">
                <h5 class="card-title" style="color: white; font-family: 'Comfortaa', cursive; font-size:xx-large; color:rgb(219, 219, 219)">Give Your Life A New Style!</h5>
                <p class="card-text" style="color: white; font-family: 'Comfortaa', cursive; font-size:larger; color: rgb(219, 219, 219)">"Fashion is what you're offered four times a year by designers. And style is what you choose."
                  —Lauren Hutton</p>
                <a href="/Clothing&Fashion" class="btn btn-outline-light">Shop Fashion & Clothing</a>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="static/computer.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-md-block">
                <h5 class="card-title" style="color: white; text-shadow: 2px 2px 9px #000000; font-family: 'Comfortaa', cursive; font-size:xx-large; color:rgb(219, 219, 219)">Back to Office!</h5>
                <p class="card-text" style="color: white; text-shadow: 2px 2px 9px #000000; font-family: 'Comfortaa', cursive; font-size:larger; color: rgb(219, 219, 219)">Maximize Your Productivity Anywhere..</p>
                <a href="/Computers" class="btn btn-outline-light">Shop Computers & Electronics</a>
              </div>
            </div>
            <div class="carousel-item">
              <img src="static/sports.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-md-block">
                <h5 style="color: white; font-family: 'Comfortaa', cursive; font-size:xx-large; color:rgb(219, 219, 219)">Power Up!</h5>
                <p  style="color: white; font-family: 'Comfortaa', cursive; font-size:larger; color: rgb(219, 219, 219)">"Sports serve society by providing vivid examples of excellence."  -George F. Will </p>
                <a href="/Sports&Outdoors" class="btn btn-outline-light">Shop Sports & Outdoors</a>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev" style="color:azure ;">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next" style="color:azure ;">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
   --> 
<div style="text-align:left; margin-top:50px; width:165px" >
    <div class="btn-group">
      <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Category
      </button>
      <ul class="dropdown-menu">
        {% for row in categories %}
        <li><a class="dropdown-item" href="/{{row}}">{{row}}</a></li>
        {% endfor %}
      </ul>
    </div>
</div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      {% for row in items %}
        <div class="d-flex justify-content-evenly" style="margin-top:30px;">
            <div class="card" style="width: 18rem;">
              <img src="static/cart.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ row.name }}</h5>
                <p class="card-text">{{ row.price | usd}}</p>
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#P{{row.id}}">View More</button>        
                    <div class="modal fade" tabindex="-1" id="P{{row.id}}">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">{{row.name}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <p>{{row.description}}.</p>
                            <p style="font-weight: bold;">Category: {{row.catergory}}.</p>
                            <p style="font-weight: bold; color:green">Price: {{row.price | usd}}</p>
                            <button class="btn btn-primary" data-bs-target="#c{{row.id}}" data-bs-toggle="modal">Contact Seller</button>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <form action="/wishlist" method="post">
                              <input type="hidden" value="{{row.id}}" name="product_id">
                              <input type="submit" class="btn btn-primary" value="Add to wishlist"></button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>                  
              </div>
            </div>
        </div>

        <div class="modal fade" id="c{{row.id}}" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Contact</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
               <!--Body content goes here-->
                          <form class="row g-3" action="/contact" method="post">
                            <div class="col-md-6">
                              <label for="first" class="form-label">First Name</label>
                              <input type="text" class="form-control" id="first" required>
                            </div>
                            <div class="col-md-6">
                              <label for="last" class="form-label">Last Name</label>
                              <input type="text" class="form-control" id="last" required>
                            </div>
                            <div class="col-12">
                              <label for="exampleFormControlInput1" class="form-label">Email address</label>
                              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                            </div>
                            <div class="col-12">
                              <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                              <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" style="text-align:center" name="message">Hi!, I'm interested in "{{row.name}}" , Can i get more information about the product. Thank you!</textarea>
                            </div>
                            <input type="hidden" value="{{row.id}}" name="id">
                            <input type="hidden" value="{{row.email}}" name="email">

                            <div class="col-12">
                              <button type="submit" class="btn btn-primary">Send</button>
                            </div>
                          </form>

              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" data-bs-toggle="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}


    </div>
  </div>
{% endblock %}