{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div calss="mb-3" style="text-align:center; font-family: 'Comfortaa', cursive; font-size:xx-large;">
            <p style="font-size:30px; color:gray">Login!</p>
        </div>
        <div calss="mb-3" style="text-align:center; font-family: 'Comfortaa', cursive; font-size:xx-large;">
            <img src="static/login.jpg" alt="login image" style="height: 60px; width:auto; margin-bottom:5px;" >
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" required>
        </div>
        <div class="mb-3">
        <button class="btn btn-warning" type="submit">Log In</button>
        </div>
    </form>

    <a href="/reset" class="link-info" style="text-decoration:none">Change Password</a>
    <div class="mb-3">
    <p>New User? <a href="/register" class="link-success" style="text-decoration:none">Register</a></p>
    </div>
{% endblock %}
