{% extends "layout.html"%}
{% block title %}Products{% endblock %}

{%block main%}
<p style="font-size:20px; text-align:center;">Results for {{name}}.</p>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
  {% for row in items %}
    <div class="d-flex justify-content-evenly" style="margin-top:30px;">
        <div class="card" style="width: 18rem;">
          <img src="static/cart.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ row.name }}</h5>
            <p class="card-text">{{ row.price | usd}}</p>
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#P{{row.id}}">View More</button>        
                <div class="modal" tabindex="-1" id="P{{row.id}}">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">{{row.name}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <p>{{row.description}}.</p>
                        <p>Price: {{row.price | usd}}</p>
                        <p><a href = "mailto: {{row.email}}" style="text-decoration:none;" class="btn btn-outline-info">Contact Seller</a> </p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <form action="/wishlist" method="post">
                          <input type="hidden" value="{{row.id}}" name="product_id">
                          <input type="submit" class="btn btn-primary" value="Add to wishlist"></button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>                  
          </div>
        </div>
    </div>
  {% endfor %}


</div>
</div>
{% endblock %}